/*<!--head-->*/


<!--navbar-->
nav{
  height: 80px;
}
nav .img{
  padding-top:5px;
  padding-bottom:5px;
  
}
#searchInput{
  width: 150px;
}

<!--carousel-->
#mc{
  
  margin:auto;
  margin-top: 10px;
}

#mc .img{
  position: relative center;
}
