/*<!--head-->*/


/*<!--navbar-->*/
.container{
  padding: 5px;
}
nav{
  width: 100%;
  height: 80px;
  font-style: oblique;
}

#searchInput{
  width: 150px;
}


/*<!--carousel-->*/
#mc {
  background: url("../Images/carousel/carb.png") no-repeat;
  margin-top:60px;
}

#slide1>img, #slide2>img, #slide3>img, #slide4>img,#slide5>img,#slide6>img,#slide7>img {
  margin:auto;
}

/*<!--quotes-->*/

#quote{
  
  font-style:oblique;
}

.thumbnail>img{
  padding: 5px;
}
#intro{
  margin:auto;
  margin-top: 60px;
}
